* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 45%;
}

.main-right {
    position: absolute;
    left: 200px;
}

.header-title {
    font-size: 3em;
    border: 1px solid black;
    width: 24%;
    height: 706px;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    padding-top: 50px;
}

.sub-title {
    font-size: 1.5em;
    padding: 1em;
}

.main {
    display: flex;
    flex-direction: row;
}

.main-text span {
    font-size: 1em;
    font-weight: 800;
    padding: 0.3em;
    margin-left: 20px;
}

.main-text:nth-child(2) {
    margin-left: 20px;
}

.main-text:last-child {
    margin-left: 20px;
}

.main-title {
    font-size: 1.2em;
    font-weight: 550;
    padding: 1em;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 5px;
}

.main-title-text {
    font-size: 1em;
    padding: 1em;
    padding-top: 0px;
    margin-left: 9px;
}

.education {
    padding-top: 0px;
    padding-bottom: 16px;
}